<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body>
    <table style="width:100%">
        <tr>
            {% for value in headers %}
            <th>{{value}}</th>
            {% endfor %}
        </tr>

        {% for row in items %}
        <tr>
            {% for column in row %}
            <td>{{ row[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>